{% extends 'base/layout.html' %}
{% load buttons %}
{% load static %}
{% load plugins %}
{% load helpers %}

{% block title %}
Topology Viewer
{% endblock %}

{% block head %}
<link rel="stylesheet"href="{% static 'nextbox_ui_plugin/next_sources/css/next.css' %}">
<script src="{% static 'nextbox_ui_plugin/next_sources/js/next.js' %}"></script>
{% endblock %}

{% block tabs %}
	<ul class="nav nav-tabs px-3">
    	{% block tab_items %}
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="topology-tab" data-bs-toggle="tab" data-bs-target="#topology" type="button" role="tab" aria-controls="filters-form" aria-selected="true">
			  Topology
			</button>
		</li>
		{% if filter_form %}
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="filters-form-tab" data-bs-toggle="tab" data-bs-target="#filters-form" type="button" role="tab" aria-controls="object-list" aria-selected="false">
            Filters
            {% if filter_form %}{% badge filter_form.changed_data|length bg_color="blue" %}{% endif %}
          </button>
        </li>
      	{% endif %}
		{% endblock tab_items %}
	</ul>
{% endblock tabs %}


{% block content-wrapper %}
<div class="tab-content">
    <div class="tab-pane active" id="topology" role="tabpanel" aria-labelledby="topology-tab">

        <div class="panel-body">

            <div class="btn-group">
                <button class="btn btn-primary " onclick='horizontal()'>Horizontal Layout</button>
                <button class="btn btn-primary" onclick="vertical()">Vertical Layout</button>
            </div>

            <input class="btn btn-primary" type="button" id="showHideUnconnectedButton" value="" onclick="return showHideUnconnectedButtonOnClick(this);" />
            <input class="btn btn-primary" type="button" id="showHidePassiveDevicesButton" value="" onclick="return showHidePassiveDevicesButtonOnClick(this);" />

            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Layers
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <h6 class="dropdown-header">Device Roles</h6>
                        <div class="dropdown-divider"></div>

                        {% for device_role_slug, device_role_name, is_visible in device_roles %}
                        <div class="dropdown-item layer_input">
                            <div class="form-check form-switch">
                                <input class="form-check-input" onclick="layerSelectorOnClick(this)" type="checkbox" role="switch" value="{{ device_role_slug }}" {{ is_visible|yesno:"checked," }}>
                                <label>{{ device_role_name }}</label>
                            </div>
                        </div>
                        {% endfor %}

                        
                        {% if device_tags %}
                        <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Device Tags</h6>
                            <div class="dropdown-divider"></div>
                            {% for tag, is_visible in device_tags %}
                            <div class="dropdown-item layer_input">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" onclick="layerSelectorOnClick(this)" type="checkbox" role="switch" value="{{ tag }}" {{ is_visible|yesno:"checked," }}>
                                    <label>{{ tag }}</label>
                                </div>
                            </div>
                            {% endfor %}
                        
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Save Current View
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <h6 class="dropdown-header">Saved View Name:</h6>
                        <div style="margin-bottom: 5px; margin-left: 2px; margin-right: 2px;">
                            <input type="text" id="topoSaveName" name="topoSaveName"></input>
                        </div>
                        <div style="margin-left: 2px; margin-right: 2px;">
                            <label class="control-label col-sm-6 pull-left" for="saveTopologyView" id="saveResult" style="margin-top: 7px; margin-left:4px;"></label>
                            <input class="btn btn-primary pull-right" type="button" id="saveTopologyView" value="Submit"  onclick="return saveView(topoSaveURI, netbox_csrf_token);" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Load Saved View
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form action="." method="get" class="form">
                        <select name='saved_topology_id' class="form-select" id='id_saved_topology'>
                                <option value selected>----------</option>
                        {% for saved_topo in load_saved %}
                                <option value="{{ saved_topo.id }}" >{{ saved_topo.name }}</option>
                        {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary">
                            <span class="mdi mdi-application-import" aria-hidden="true"></span> Apply
                        </button>
                    </form>
                </div>
            </div>
            <div id="nx-ui-topology" class="" style="height: 70vh;"></div>
        </div> 

        
    </div>
    {% if filter_form %}
    <div class="tab-pane" id="filters-form" role="tabpanel" aria-labelledby="filters-form-tab">
        {% include 'inc/filter_list.html' %}
    </div>
    {% endif %}
</div>

{% endblock content-wrapper %}

{% block javascript %}

<script type="text/javascript">
    var displayUnconnected = {{ display_unconnected | yesno:"true,false" }};
    var displayPassiveDevices = {{ display_passive_devices | yesno:"true,false" }};
    var displayLogicalMultiCableLinks = {{ display_logical_multicable_links | yesno:"true,false" }};
    var undisplayedRoles = {{ undisplayed_roles | safe }};
    var undisplayedDeviceTags = {{ undisplayed_device_tags | safe }};
    var topologyData = {{ source_data|safe }};
    var icons = {{ file_icons | safe }};
    var topologySavedData = {{ source_data|  safe }};
    var initialLayout = '{{ initial_layout|safe }}';
    var requestGET = {{ requestGET | safe }};
    var netbox_csrf_token = '{{ csrf_token }}'
    var topoSaveURI = '{% url 'plugins-api:nextbox_ui_plugin-api:savedtopology-list' %}';
    console.log(topologyData);
</script>


<script src="{% static 'nextbox_ui_plugin/next_app.js' %}"></script>
<script src="{% static 'nextbox_ui_plugin/button_utils.js' %}"></script>

<script type="text/javascript">
    showHideUnconnectedButtonInitial();
    showHidePassiveDevicesButtonInitial();
</script>

{% endblock %}

